version: "3.8"
services:

    mariadb:
        image: mariadb
        container_name: mariadb_container
        volumes : 
            - ./sql-data/db:/var/lib/mariadb
        ports: 
            - "3306:3306"
        environment:
            MARIADB_DATABASE: 'ProyectoCL'
            MARIADB_USER: 'root'
            MARIADB_PASSWORD: ''
            MARIADB_ROOT_PASSWORD: 'mariadb'
        networks:
            - project-net
        restart: always

    laravel:
        build:
            context: .
            dockerfile: dockerfile.laravel
            args:
              - APP_NAME=Laravel
              - APP_ENV=local
              - APP_KEY=base64:+MV0qZQK+DBWm1ITnUQI//oAcc+2lCoC0loObBhUQo4=
              - APP_DEBUG=true
              - APP_URL=http://localhost

              - LOG_CHANNEL=stack
              - LOG_DEPRECATIONS_CHANNEL=null
              - LOG_LEVEL=debug

              - DB_CONNECTION=mysql
              - DB_HOST=127.0.0.1
              - DB_PORT=3306
              - DB_DATABASE=ProyectoCL
              - DB_USERNAME=root
              - DB_PASSWORD=

              - BROADCAST_DRIVER=log
              - CACHE_DRIVER=file
              - FILESYSTEM_DISK=local
              - QUEUE_CONNECTION=sync
              - SESSION_DRIVER=file
              - SESSION_LIFETIME=120

              - MEMCACHED_HOST=127.0.0.1

              - REDIS_HOST=127.0.0.1
              - REDIS_PASSWORD=null
              - REDIS_PORT=6379

              - MAIL_MAILER=smtp
              - MAIL_HOST=mailpit
              - MAIL_PORT=1025
              - MAIL_USERNAME=null
              - MAIL_PASSWORD=null
              - MAIL_ENCRYPTION=null
              - MAIL_FROM_ADDRESS="hello@example.com"
              - MAIL_FROM_NAME="${APP_NAME}"

              - AWS_ACCESS_KEY_ID=
              - AWS_SECRET_ACCESS_KEY=
              - AWS_DEFAULT_REGION=us-east-1
              - AWS_BUCKET=
              - AWS_USE_PATH_STYLE_ENDPOINT=false

              - PUSHER_APP_ID=
              - PUSHER_APP_KEY=
              - PUSHER_APP_SECRET=
              - PUSHER_HOST=
              - PUSHER_PORT=443
              - PUSHER_SCHEME=https
              - PUSHER_APP_CLUSTER=mt1

              - VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
              - VITE_PUSHER_HOST="${PUSHER_HOST}"
              - VITE_PUSHER_PORT="${PUSHER_PORT}"
              - VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
              - VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
        container_name: laravel_app
        volumes:
            - laravel-app:/var/www/html
        depends_on:
            - mariadb
        networks:
            - project-net
        restart: always
    nginx:
        build:
            context: .
            dockerfile: dockerfile.nginx
        volumes:
            - laravel-app:/var/www/html
        ports:
            - "16005:80"
        networks:
            - project-net


    jenkins:
        image: jenkins/jenkins:lts
        container_name: jenkins_ci
        ports:
          - "8085:8080"
          - "50010:50000"
        volumes:
            - jenkins_home:/var/jenkins_home
        networks:
          - project-net
        restart: always

networks:
    project-net:
        driver: bridge

volumes:
    laravel-app:
        driver: local
    sql-data:
        driver: local
    jenkins_home:
        driver: local